.rule-set-dialog-container {
  min-width: 350px;
  max-width: 400px;
  padding: 12px 0 8px 0;
}

.rule-set-dialog-title {
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 16px;
  text-align: center;
  letter-spacing: 0.2px;
}

.rule-set-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.rule-set-dialog-actions {
  margin-top: 10px;
  gap: 16px;
}
