<div class="rule-set-dialog-container">
  <h2 class="rule-set-dialog-title">{{ data ? 'Szabálykészlet szerkesztése' : 'Új szabálykészlet' }}</h2>
  <form [formGroup]="form" class="rule-set-form">
    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Készlet neve</mat-label>
      <input matInput formControlName="name" required>
    </mat-form-field>
    <mat-dialog-actions align="end" class="rule-set-dialog-actions">
      <button mat-stroked-button type="button" (click)="onCancel()">Mégsem</button>
      <button mat-flat-button color="primary" type="button" (click)="onSubmit()" [disabled]="form.invalid">
        {{ data ? 'Mentés' : 'Létrehozás' }}
      </button>
    </mat-dialog-actions>
  </form>
</div>
