<mat-toolbar color="primary" class="navbar">
  <span class="app-title" (click)="goToHome()">
    <mat-icon class="toolbar-icon">sports_score</mat-icon> <span>TourneyTrack</span>
  </span>
  <button mat-button class="nav-btn" (click)="goToCompetitions()">Versenyek</button>
  <button mat-button class="nav-btn" (click)="goToRulesets()" *ngIf="session.getUserType() === 'GAME_MASTER'">Szabálykészletek</button>
  <button mat-flat-button color="accent" class="nav-btn create-btn" (click)="goToCreateCompetition()" *ngIf="session.getUserType() === 'GAME_MASTER'">
    <mat-icon>add_circle</mat-icon> Új verseny
  </button>
  <span class="spacer"></span>

  <!-- BELÉPÉS/REGISZTRÁCIÓ blokk -->
  <ng-container *ngIf="!session.isLoggedIn(); else loggedInBlock">
    <form class="navbar-login-form" (ngSubmit)="onLogin()" autocomplete="off">
      <mat-form-field appearance="outline" class="navbar-input wide">
        <input matInput type="email" [(ngModel)]="loginEmail" name="email" placeholder="Email" required />
      </mat-form-field>
      <mat-form-field appearance="outline" class="navbar-input wide">
        <input matInput type="password" [(ngModel)]="loginPassword" name="password" placeholder="Jelszó" required />
      </mat-form-field>
      <button mat-flat-button color="accent" type="submit" class="login-btn">Belépés</button>
    </form>
    <button mat-flat-button color="primary" class="register-btn" (click)="goToRegister()">Regisztráció</button>
  </ng-container>

  <div *ngIf="errorMsg" class="error-msg">{{ errorMsg }}</div>

  <ng-template #loggedInBlock>
    <span class="user-info">
      <mat-icon>account_circle</mat-icon>
      {{ session.getName() }} <span *ngIf="session.getUserType()">[{{ session.getUserType() }}]</span>
    </span>
<!--    <button mat-button class="nav-btn" (click)="goToProfile()">Profilom</button>-->
    <button mat-button class="nav-btn" (click)="goToMyCompetitions()">Saját versenyeim</button>
    <button mat-button class="nav-btn" (click)="logout()">Kijelentkezés</button>
  </ng-template>
</mat-toolbar>
